In [1]:
import pandas as pd

In [33]:
java = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_java.csv")
kalimantan = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_kalimantan.csv")
maluku = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_maluku.csv")
nusa_tenggara = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_nusa_tenggara.csv")
papua = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_papua.csv")
sulawesi = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_sulawesi.csv")
sumatra = pd.read_csv("/Users/sanhorn/Desktop/Internships/Econ Data Lab/geounits_sectors_rate/ratio_sumatra.csv")

In [34]:
province_to_geo_unit = {
    # Sumatra
    'Aceh': 'Sumatra',
    'North Sumatra': 'Sumatra',
    'West Sumatra': 'Sumatra',
    'Riau': 'Sumatra',
    'Jambi': 'Sumatra',
    'South Sumatra': 'Sumatra',
    'Bengkulu': 'Sumatra',
    'Lampung': 'Sumatra',
    
    # Java
    'DKI Jakarta': 'Java',
    'West Java': 'Java',
    'Central Java': 'Java',
    'DI Yogyakarta': 'Java',
    'East Java': 'Java',
    
    # Nusa Tenggara (Lesser Sunda Islands)
    'Bali': 'Nusa Tenggara (Lesser Sunda Islands)',
    'West Nusa Tenggara': 'Nusa Tenggara (Lesser Sunda Islands)',
    'East Nusa Tenggara': 'Nusa Tenggara (Lesser Sunda Islands)',
    'East Timor': 'Nusa Tenggara (Lesser Sunda Islands)',
    
    # Kalimantan
    'West Kalimantan': 'Kalimantan',
    'Central Kalimantan': 'Kalimantan',
    'South Kalimantan': 'Kalimantan',
    'East Kalimantan': 'Kalimantan',
    
    # Sulawesi
    'North Sulawesi': 'Sulawesi',
    'Central Sulawesi': 'Sulawesi',
    'South Sulawesi': 'Sulawesi',
    'Southeast Sulawesi': 'Sulawesi',
    
    # Maluku Islands
    'Maluku': 'Maluku Islands',
    
    # Papua (Western New Guinea)
    'Irian Jaya': 'Papua (Western New Guinea)',
    
    # Keep Unknown as is
    'Unknown': 'Unknown'
}

In [35]:
# List of geo unit dataframes and their corresponding names
geo_units = {
    'Java': java,
    'Kalimantan': kalimantan,
    'Maluku': maluku,
    'Nusa Tenggara': nusa_tenggara,
    'Papua': papua,
    'Sulawesi': sulawesi,
    'Sumatra': sumatra
}

# Initialize an empty list to store the reshaped dataframes
reshaped_dfs = []

# Loop through each geo unit dataframe
for geo_unit, df in geo_units.items():
    # Melt the dataframe to reshape it
    melted_df = df.melt(id_vars=['index'], var_name='Year', value_name='Value')
    # Add GeoUnit column
    melted_df['GeoUnit'] = geo_unit
    # Rename columns for clarity
    melted_df.rename(columns={'index': 'Sector'}, inplace=True)
    # Append to the list
    reshaped_dfs.append(melted_df)

# Concatenate all reshaped dataframes into a single dataframe
combined_df = pd.concat(reshaped_dfs, ignore_index=True)

# Pivot the dataframe to have years as columns
pivoted_df = combined_df.pivot_table(
    index=['GeoUnit', 'Sector'],
    columns='Year',
    values='Value'
).reset_index()

# Rename the columns for clarity
pivoted_df.columns.name = None  # Remove the name of the columns
pivoted_df.rename(columns=lambda x: f"Year_{x}" if isinstance(x, str) and x.isdigit() else x, inplace=True)

# Display the pivoted dataframe
pivoted_df

,GeoUnit,Sector,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014
0,Java,No Job,0.251351,0.261609,0.251905,0.256623,0.247378,0.225629,0.197725,0.490957
1,Java,Primary,0.088288,0.081099,0.083291,0.081954,0.084268,0.085216,0.089530,0.033814
2,Java,Secondary,0.173874,0.183780,0.187405,0.194536,0.198553,0.196578,0.205016,0.140498
3,Java,Tertiary,0.486486,0.473512,0.477400,0.466887,0.469801,0.492576,0.507728,0.334731
4,Kalimantan,No Job,0.319328,0.338542,0.320000,0.264331,0.256000,0.233100,0.175166,0.452381
5,Kalimantan,Primary,0.285714,0.265625,0.272000,0.286624,0.282667,0.282051,0.281596,0.175325
6,Kalimantan,Secondary,0.067227,0.072917,0.084000,0.092357,0.090667,0.093240,0.090909,0.084416
7,Kalimantan,Tertiary,0.327731,0.322917,0.324000,0.356688,0.370667,0.391608,0.452328,0.287879
8,Maluku,No Job,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Maluku,Primary,0.333333,0.500000,0.333333,0.333333,0.333333,0.250000,0.333333,0.000000
10,Maluku,Secondary,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000
11,Maluku,Tertiary,0.666667,0.500000,0.666667,0.666667,0.666667,0.750000,0.333333,1.000000
12,Nusa Tenggara,No Job,0.279720,0.280303,0.276316,0.280702,0.259574,0.208861,0.183815,0.607325
13,Nusa Tenggara,Primary,0.160839,0.161616,0.171053,0.169059,0.178723,0.194937,0.191908,0.038657
14,Nusa Tenggara,Secondary,0.097902,0.098485,0.099624,0.097289,0.097872,0.105063,0.104046,0.056968
15,Nusa Tenggara,Tertiary,0.461538,0.459596,0.453008,0.452951,0.463830,0.491139,0.520231,0.297050
16,Papua,No Job,1.000000,1.000000,1.000000,0.500000,0.000000,NaN,NaN,NaN
17,Papua,Primary,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
18,Papua,Secondary,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN
19,Papua,Tertiary,0.000000,0.000000,0.000000,0.500000,0.000000,NaN,NaN,NaN
20,Sulawesi,No Job,0.301370,0.346154,0.336323,0.324427,0.265101,0.201835,0.152113,0.353535
21,Sulawesi,Primary,0.191781,0.186813,0.174888,0.171756,0.184564,0.195719,0.197183,0.138889
22,Sulawesi,Secondary,0.136986,0.109890,0.107623,0.095420,0.110738,0.107034,0.121127,0.073232
23,Sulawesi,Tertiary,0.369863,0.357143,0.381166,0.408397,0.439597,0.495413,0.529577,0.434343
24,Sumatra,No Job,0.247297,0.262575,0.272510,0.253004,0.242265,0.210137,0.180469,0.435258
25,Sumatra,Primary,0.302703,0.284708,0.261355,0.263685,0.272621,0.272439,0.270464,0.172791
26,Sumatra,Secondary,0.097297,0.085513,0.090837,0.082109,0.088733,0.095565,0.105792,0.065179
27,Sumatra,Tertiary,0.352703,0.367203,0.375299,0.401202,0.396381,0.421859,0.443274,0.326772

In [36]:
pivoted_df.rename(columns=lambda x: x.replace("Year_", "") if x.startswith("Year_") else x, inplace=True)

In [37]:
pivoted_df

,GeoUnit,Sector,2007,2008,2009,2010,2011,2012,2013,2014
0,Java,No Job,0.251351,0.261609,0.251905,0.256623,0.247378,0.225629,0.197725,0.490957
1,Java,Primary,0.088288,0.081099,0.083291,0.081954,0.084268,0.085216,0.089530,0.033814
2,Java,Secondary,0.173874,0.183780,0.187405,0.194536,0.198553,0.196578,0.205016,0.140498
3,Java,Tertiary,0.486486,0.473512,0.477400,0.466887,0.469801,0.492576,0.507728,0.334731
4,Kalimantan,No Job,0.319328,0.338542,0.320000,0.264331,0.256000,0.233100,0.175166,0.452381
5,Kalimantan,Primary,0.285714,0.265625,0.272000,0.286624,0.282667,0.282051,0.281596,0.175325
6,Kalimantan,Secondary,0.067227,0.072917,0.084000,0.092357,0.090667,0.093240,0.090909,0.084416
7,Kalimantan,Tertiary,0.327731,0.322917,0.324000,0.356688,0.370667,0.391608,0.452328,0.287879
8,Maluku,No Job,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Maluku,Primary,0.333333,0.500000,0.333333,0.333333,0.333333,0.250000,0.333333,0.000000
10,Maluku,Secondary,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000
11,Maluku,Tertiary,0.666667,0.500000,0.666667,0.666667,0.666667,0.750000,0.333333,1.000000
12,Nusa Tenggara,No Job,0.279720,0.280303,0.276316,0.280702,0.259574,0.208861,0.183815,0.607325
13,Nusa Tenggara,Primary,0.160839,0.161616,0.171053,0.169059,0.178723,0.194937,0.191908,0.038657
14,Nusa Tenggara,Secondary,0.097902,0.098485,0.099624,0.097289,0.097872,0.105063,0.104046,0.056968
15,Nusa Tenggara,Tertiary,0.461538,0.459596,0.453008,0.452951,0.463830,0.491139,0.520231,0.297050
16,Papua,No Job,1.000000,1.000000,1.000000,0.500000,0.000000,NaN,NaN,NaN
17,Papua,Primary,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
18,Papua,Secondary,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN
19,Papua,Tertiary,0.000000,0.000000,0.000000,0.500000,0.000000,NaN,NaN,NaN
20,Sulawesi,No Job,0.301370,0.346154,0.336323,0.324427,0.265101,0.201835,0.152113,0.353535
21,Sulawesi,Primary,0.191781,0.186813,0.174888,0.171756,0.184564,0.195719,0.197183,0.138889
22,Sulawesi,Secondary,0.136986,0.109890,0.107623,0.095420,0.110738,0.107034,0.121127,0.073232
23,Sulawesi,Tertiary,0.369863,0.357143,0.381166,0.408397,0.439597,0.495413,0.529577,0.434343
24,Sumatra,No Job,0.247297,0.262575,0.272510,0.253004,0.242265,0.210137,0.180469,0.435258
25,Sumatra,Primary,0.302703,0.284708,0.261355,0.263685,0.272621,0.272439,0.270464,0.172791
26,Sumatra,Secondary,0.097297,0.085513,0.090837,0.082109,0.088733,0.095565,0.105792,0.065179
27,Sumatra,Tertiary,0.352703,0.367203,0.375299,0.401202,0.396381,0.421859,0.443274,0.326772

In [30]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/sanhorn/anaconda3/envs/CS444_env/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/sanhorn/anaconda3/envs/CS444_env/lib/python3.12/site-packages (from openpyxl) (2.0.0)

In [31]:
pivoted_df

,GeoUnit,Province,Sector,2007,2008,2009,2010,2011,2012,2013,2014
0,Java,Central Java,No Job,0.251351,0.261609,0.251905,0.256623,0.247378,0.225629,0.197725,0.490957
1,Java,Central Java,Primary,0.088288,0.081099,0.083291,0.081954,0.084268,0.085216,0.089530,0.033814
2,Java,Central Java,Secondary,0.173874,0.183780,0.187405,0.194536,0.198553,0.196578,0.205016,0.140498
3,Java,Central Java,Tertiary,0.486486,0.473512,0.477400,0.466887,0.469801,0.492576,0.507728,0.334731
4,Java,DI Yogyakarta,No Job,0.251351,0.261609,0.251905,0.256623,0.247378,0.225629,0.197725,0.490957
...,...,...,...,...,...,...,...,...,...,...,...
79,Sumatra,South Sumatra,Tertiary,0.352703,0.367203,0.375299,0.401202,0.396381,0.421859,0.443274,0.326772
80,Sumatra,West Sumatra,No Job,0.247297,0.262575,0.272510,0.253004,0.242265,0.210137,0.180469,0.435258
81,Sumatra,West Sumatra,Primary,0.302703,0.284708,0.261355,0.263685,0.272621,0.272439,0.270464,0.172791
82,Sumatra,West Sumatra,Secondary,0.097297,0.085513,0.090837,0.082109,0.088733,0.095565,0.105792,0.065179
83,Sumatra,West Sumatra,Tertiary,0.352703,0.367203,0.375299,0.401202,0.396381,0.421859,0.443274,0.326772

In [38]:
pivoted_df.to_excel("/Users/sanhorn/Desktop/Internships/Econ Data Lab/Final_geounits/expanded_combined_df.xlsx", index=False)